@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/Merriweather-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-section-membership: #55acee;
    --color-fb: black;
    --color-ig: rgb(255, 153, 0);
    --color-tw: rgb(4, 175, 175);
    --color-yt: red;
    --color-h2: grey;
}

html {
    font-size: 12px;
    text-align: center;
}

.h__h1 {
    padding: 10px 0 10px;
    font-size: 2rem;
}

.h__h2 {
    color: var(--color-h2);
    padding: 5px 0 5px;
    font-size: 1em;
}

p {
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: black;
}

.a__fb {
    color: var(--color-fb);
}

.a__ig {
    color: var(--color-ig);
}

.a__tw {
    color: var(--color-tw);
}

.a__yt {
    color: var(--color-yt);
}

img:hover {
    border: 2px solid grey;
}

/*  *  Header  *  */

header {
    height: 5vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px;
}

.ul__nav {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    list-style: none;
    margin-right: 20px;
}

.section__gif {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 00vw 0 10vw;
}

.section__gif div {
    width: 30vw;
}

.section__gif img {
    height: 40vh;

}

.section__gif div p {
    padding: 20px;
}

.a__download {
    background-color: black;
    color: white;
}

.a__subscribe {
    background-color: white;
    color: black;
}

.section__gif_a {
    border: 2px solid;
    border-radius: 5px;
    padding: 10px;
}

/* * Section 2: Real Beauty */

.section__real_beauty {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 50px;
    margin-left: 10vw;
}

.section__real_beauty img {
    height: 300px;
}

.section__real_beauty div {
    width: 30vw;
    margin-left: 10vw;
}

/* * Section 3: Expressiveness */

.section__expressiveness {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0 auto;
    margin-top: 20px;
    margin-left: 10vw;
    width: 100vw;
}

.section__expressiveness img {
    height: 50vh;
}

.section__expressiveness div {
    width: 250px;
    margin-right: 20vw;
}

/* *Section 4: Illustration */

.section__illustrations {
    margin: 0 auto;
    margin-top: 20px;
    width: 100vw;
}

.section__illustrations p {
    width: 400px;
    margin: 0 auto;
}

.img__s_illus {
    min-width: 200px;
    width: 25vw;
}

.section__illustrations div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* * Section 5: Examples */

.section__examples {
    margin-top: 20px;
    margin-bottom: 50px;
}

.section__examples p {
    margin-bottom: 20px;
}

.section__examples div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px
}

.img__wrap {
    min-width: 324px;
    width: 45vw;
}

/* * Section 6: Downloads */

.section__download {
    margin: 0 auto;
    width: 300px;
}

/* * Section 7: Membership */

.section__membership {
    background-color: var(--color-section-membership);
    margin: 0 auto;
    /* * Du wirst zusammengedrückt. */
    padding: 40px;
    width: 200px;

    /* *Alles wird weggedrückt. */
    margin-top: 50px;
    margin-bottom: 50px;

}

.section__membership ul {
    list-style: none;
    padding-bottom: 20px;
}

.section__membership p {
    font-size: 3em;
}

.a__member {
    color: white;
    background-color: blue;
    padding: 10px;
    border-radius: 5px;
}

/* * Footer */

footer ul {
    display: flex;
    justify-content: center;
    gap: 10px;
    list-style: none;
}

footer p {
    font-size: 1em;
}